.slider img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: -4rem;
  position: relative;
  scroll-behavior: smooth;
  z-index: 9; /* goes under nav bar */
  width: 100%;

  /* Hide the scroll bar for :the browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.slider-nav a {
  width: 1vw;
  height: 1vw;
  display: inline-block;
  /* ^ This property makes the dots appear without text inside of the anchor tags */

  background-color: rgba(76, 76, 76, 0.889);
  border-radius: 50%;
  transition: background 0.3s;
  cursor: pointer;
}

.slider-nav a:hover {
  background-color: white;
}

.slider-nav {
  display: flex;
  margin-top: -2.5rem;
  position: relative;
  z-index: 12;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.slider::-webkit-scrollbar {
  /* Hides the scroll bar for the following browsers */
  display: none; /* Chrome, Safari, Opera */
}
