.trending {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 17% 17% 17% 17% 17% 17%;
  width: 100%;
  height: 20rem;
  margin-top: 0.27rem;
  overflow: hidden;
  position: absolute;
  min-width: 200px;
  min-height: 50vw;
  max-height: 191.95px;
  transform: scale(0.9);
}

.trending-1 {
  grid-row: 1/5;
  grid-column: 1/3;
  z-index: 2;
  background-color: white;
  border-right: 0.2rem solid white;
}

.trending-2 {
  grid-row: 1/5;
  grid-column: 3/5;
  z-index: 2;
  background-color: white;
  border-right: 0.2rem solid white;
}

.trending-3 {
  grid-row: 1/5;
  grid-column: 5/7;
  z-index: 2;
  background-color: white;
}

.trending-1,
.trending-2,
.trending-3 {
  overflow: hidden;
  min-width: 124.7px;
  transition: transform 0.4s ease;
}

.t-1,
.t-2,
.t-3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 20;
  min-width: 60px;
}

.trending-1:hover,
.trending-2:hover,
.trending-3:hover {
  transform: scale(1.05);
}

body {
  background-color: black;
}
